@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #0a1925;
}
li{
  top: 0;
  padding: 10px 10px;
  background-color: #0a1620;
  display: inline;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  float: center;
}

li:hover{
  background-color: #070f15;
}

ul{
  align-items: center;
  text-align: center;
  float: center;
  padding: 10px 10px;
  background-color: #0a1620;
}
.navbar{
  background-color:#0a1925;
  justify-content: center;
  text-align: center;
  left: 595px;
  top: 0%;
}
.imag{
  align-items: center;
  text-align: center;
  padding-top: 5px;
}

.text{
  position: absolute;
  right: 140px;
  top: 350px;
  font-size: 1.3rem;
  font-style: italic;
  background-color: #0a1620;
}

.logo{
  position: absolute;
  top: 0;
  left: 5px;
}

@media screen and (max-width: 800px){
  .text{
    background-color:unset;
  }
}

/*end of index.html */
/*start of pic.html */
.images{
  padding-top: 5px;
  position: absolute;
  align-items: center;
  text-align: center;
  
}
.image1{
  top: 0px;
  padding: 15px;
}
.image2{
  top: 0px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}
.image3{
  top: 0px;
  padding: 15px;
}
.image4{
  top: 0px;
  padding: 15px;
}
.image5{
  top: 0px;
  padding: 15px;
}
.image6{
  top: 0px;
  padding: 15px;
}

@media screen and (max-width: 800px) {
  .navbar{
    background-color:#0a1925;
    justify-content: center;
    text-align: center;
    left: 100px;
  }
}